<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">@font-face {
        font-family: "Gadget";
        src: url(gadget-webfont.svg) format("svg"), url(http://vi-digital.com/lib/pjjdent/gadget-webfont.svg) format("svg"), url(http://vi-digital.com/lib/pjjdent/Gadget.ttf) format("truetype");
    }
    @font-face {
        font-family: "DIN Bold";
        src:  url(din_bold-webfont.svg) format("svg"), url(http://vi-digital.com/lib/pjjdent/din_bold-webfont.svg) format("svg"), url(http://vi-digital.com/lib/fonts/DIN_Bold.ttf) format("truetype");
    }
    body {
        /*background-color:#000000;*/
        background-color: #F2AF00;
        border:none;
        color:#ffffff;
        margin:0px;
        /*background-image:url('http://vi-digital.com/lib/pjjdent/EBBStetson/EBB_BG_2Guys.jpg');*/
        background-repeat: no-repeat;
        font-family: "DIN Bold", sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    table, td {
        font-family: "DIN Bold", sans-serif;
        font-size: 20px;
        /* vertical-align:top; */
        text-align: left;
    }
    .calorie {
        letter-spacing: 1em;
    }
    .header, .header td {
        color:#ffb900;
        font-family: "Gadget", sans-serif;
        font-size:31px;
        font-weight: bold;
        text-shadow: 3px 3px 8px #000000;
    }
    .header2, .header2 td {
        color:#62B03A;
        font-family: "Gadget", sans-serif;
        font-size:31px;
        font-weight: bold;
        text-shadow: 3px 3px 8px #000000;
    }
    .light-cals {color:#bbb; width:100px; text-align:center; font-size:18px;}
    .right-price {/*vertical-align:top;*/}
    .iced {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-weight: lighter;
        font-stretch: narrower;
    }
    .price {
        color:#ffb900;
        font-family: "DIN Bold", sans-serif;
        font-size:31px;
        font-weight: bold;
        text-shadow: 3px 3px 8px #000000;
    }
    .yellow {color:#ffb900;}
    #icon-indicators td {
        font-size:10px;
        vertical-align: bottom;
        color:#BFBFBF;
        text-align: left;
    }
    #right-half {
        width: 634px;
        height: 768px;
        position: absolute;
        top: 0px;
        left: 0px;
        overflow: hidden;

        background-size: cover;
        background-image: url('http://vi-digital.com/lib/pjjdent/EBBEarthcity/Breakfastbg.png');
    }
    #left-half {
        width: 634px;
        height: 768px;
        position: absolute;
        top: 0px;
        left: 646px;
        overflow: hidden;

        background-size: cover;
        /*background-image: url('http://vi-digital.com/lib/pjjdent/EBBCLT/Breakfast_bg_0.jpg');*/
        background-image: url('http://vi-digital.com/lib/pjjdent/EBBEarthcity/Breakfastbg.png');

        z-index: 1;
    }
    .title td {
        color: #000;
        text-align: left;
    }
    #LTO-panel {
        position: absolute;
        -webkit-transition: left 1s;
        left: 1280px;
        z-index: 200;
    }
    .icon-indicators td {
        font-size:12px;
        vertical-align: bottom;
        color:#BFBFBF;
        text-align: left;
    }
    td {
        line-height: 1.15;
    }
    .cal-count {
        color: #bbb;
        font-size: 18px;
    }
    #lunch-table td {
        line-height: 1.05;
    }
    </style>
    <div id="right-half">
        <table class="title" style="position: absolute; top: 18px; left: 10px;">
            <tbody>
            <tr>
                <td style="font-size:64px; margin: 0; line-height: 75%;">Lunch</td>
            </tr>
            <tr>
                <td>Always Made Fresh</td>
            </tr>
            </tbody>
        </table>

        <table id="lunch-table" style="position: absolute; width: 420px; top: 145px; left: 10px; table-layout: fixed;">
            <tbody>
            <tr>
                <td class="header" style="width: 345px;">Signature Sandwiches</td>
                <td class="cal-count">cal</td>
            </tr>
            <tr>
                <td id="tasty-turkey-td">Tasty Turkey</td>
                <td class="cal-count">530</td>
                <td class="right-price">6.99</td>
            </tr>
            <tr>
                <td id="turkey-ba-td">Turkey, Bacon &amp; Avocado</td>
                <td class="cal-count">680</td>
                <td class="right-price">6.99</td>
            </tr>
            <tr>
                <td id="turkey-wrap-td">Turkey Club Mex Wrap</td>
                <td class="cal-count">610</td>
                <td class="right-price">6.99</td>
            </tr>
            <tr>
                <td>Veg Out<small>&reg;</small><img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Veg_24px.png" style="padding:3px 2px 0; height: 16px;" /></td>
                <td class="cal-count">440</td>
                <td class="right-price">6.59</td>
            </tr>
            <tr>
                <td id="lox-td">Nova Lox*</td>
                <td class="cal-count">440</td>
                <td class="right-price">6.99</td>
            </tr>
            <tr>
                <td id="lox-td">Honey-Glazed Smoked Salmon</td>
                <td class="cal-count">560</td>
                <td class="right-price">6.99</td>
            </tr>
            <tr>
                <td class="header">Deli Sandwiches</td>
            </tr>
            <tr>
                <td>Chicken Salad<img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png" style="padding:3px 2px 0; height: 16px;" /></td>
                <td class="cal-count">630</td>
                <td class="right-price">6.59</td>
            </tr>
            <tr>
                <td id="tuna-salad-td">Albacore Tuna Salad</td>
                <td class="cal-count">480</td>
                <td class="right-price">6.59</td>
            </tr>
            <tr>
                <td>Ham &amp; Swiss</td>
                <td class="cal-count">500</td>
                <td class="right-price">6.59</td>
            </tr>
            <tr>
                <td id="deli-turkey-td">Turkey &amp; Cheddar</td>
                <td class="cal-count">480</td>
                <td class="right-price">6.59</td>
            </tr>
            <tr>
                <td class="header">Hot Sandwiches</td>
            </tr>
            <tr>
                <td id="italian-chicken-td">Italian Chicken</td>
                <td class="cal-count">760</td>
                <td class="right-price">7.69</td>
            </tr>
            <tr>
                <td>Turkey Club</td>
                <td class="cal-count">770</td>
                <td class="right-price">7.69</td>
            </tr>
            <tr>
                <td class="header">Favorites</td>
            </tr>
            <tr>
                <td id="pizza-bagel-td">Pepperoni Pizza Bagel</td>
                <td class="cal-count">520</td>
                <td class="right-price">5.59</td>
            </tr>
            <tr>
                <td>Cheese Pizza Bagel <img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Veg_24px.png" style="padding:3px 2px 0; height: 16px;" /></td>
                <td class="cal-count">430</td>
                <td class="right-price">5.59</td>
            </tr>
            </tbody>
        </table>

        <table style="position: absolute; width: 415px; top: 641px; left: 10px; table-layout: fixed;">
            <tbody>
            <tr>
                <td id="bagel-dog-td" style="width: 298px;">Bagel Dog <span style="font-size: 15px">Original or Asiago</span></td>
                <td class="cal-count" style="overflow: visible; width: 77px;">610 - 620</td>
                <td class="right-price">4.99</td>
            </tr>
            </tbody>
        </table>

        <table class="icon-indicators" style="position: absolute; width: 434px; bottom: 40px; left: 20px;">
            <tbody>
            <tr>
                <td style="line-height: 8px"><img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png" style="padding:3px 2px 0; height: 10px;" />Contains nuts</td>
            </tr>
            <tr>
                <td style="line-height: 8px"><img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Veg_24px.png" style="padding:3px 2px 0; height: 10px;" />Vegetarian: May contain dairy and/or eggs</td>
            </tr>
            </tbody>
        </table>
<span style="position: absolute; width: 434px; font-size: 12px; bottom: 10px; left: 10px; color:#BFBFBF; line-height: 1;">*Cold smoked salmon is not cooked. Consuming raw or undercooked<br />
seafood may increase the risk of foodborne illness.</span> <img id="tasty-turkey" src="http://vi-digital.com/lib/pjjdent/EBBCLT/TastyTurkeyAsiagoSand_2014.png" style="position: absolute; display: none" /> <img id="deli-turkey" src="http://vi-digital.com/lib/pjjdent/EBBCLT/DeliTurkey_2014.png" style="position: absolute; display: none" /> <img id="italian-chicken" src="http://vi-digital.com/lib/pjjdent/EBBCLT/ItalianChickenSandwich_cropped_0.png" style="position: absolute; display: none" /> <img id="lox" src="http://vi-digital.com/lib/pjjdent/EBBCLT/NovaLox_2014.png" style="position: absolute; display: none" /> <img id="turkey-ba" src="http://vi-digital.com/lib/pjjdent/EBBCLT/TurkeyBAT_2014.png" style="position: absolute; display: none" /> <img id="tuna-salad" src="http://vi-digital.com/lib/pjjdent/EBBCLT/TunaSalad_2014.png" style="position: absolute; display: none" /> <img id="bagel-dog" src="http://vi-digital.com/lib/pjjdent/EBBCLT/BagelDogs_2014.png" style="position: absolute; display: none;" /></div>

    <div id="LTO-panel"><!--video preload="auto"><source src="TostiniCinnFull.ogv" /> <source src="http://vi-digital.com/lib/vicorporatemenus/Corporate---EBB/TostiniCinnFull.ogv" /></video--><!--video preload="auto"><source src="http://vi-digital.com/lib/pjjdent/FlatbreadVeggieFull1.ogv" /></video--><!--video preload="auto"><source src="http://vi-digital.com/lib/pjjdent/FlatbreadBBQChickenFull1.ogv" /></video--></div>

    <div id="left-half">
        <table class="title" style="position: absolute; top: 22px; left: 10px;">
            <tbody>
            <tr>
                <td style="font-size:64px; margin: 0; line-height: 75%; font-family: 'Gadget';">Breakfast</td>
            </tr>
            <tr>
                <td>Fresh-Baked All Day</td>
            </tr>
            </tbody>
        </table>

        <div class="div" id="eggsandwich" style=" position: absolute; width: 393px; top: 145px; left: 20px;">
            <table border="0" cellpadding="0" cellspacing="0" style="top: 0px; height: 575px;" width="100%">
                <tbody>
                <tr>
                    <td class="header" width="80%"><strong>Egg Sandwiches</strong></td>
                    <td class="cal-count">cal</td>
                </tr>
                <tr>
                    <td id="applewood-bacon-td">Applewood Bacon &amp; Cheddar</td>
                    <td class="cal-count">530</td>
                    <td class="right-price">4.99</td>
                </tr>
                <tr>
                    <td id="sausage-cheddar-bagel-td">Turkey-Sausage &amp; Cheddar</td>
                    <td class="cal-count">530</td>
                    <td class="right-price">4.99</td>
                </tr>
                <tr>
                    <td>Ham &amp; Swiss</td>
                    <td class="cal-count">480</td>
                    <td class="right-price">4.99</td>
                </tr>
                <tr>
                    <td>Spinach, Mushroom &amp; Swiss <img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Veg_24px.png" style="padding:3px 2px 0; height: 16px;" /></td>
                    <td class="cal-count">490</td>
                    <td class="right-price">4.99</td>
                </tr>
                <tr>
                    <td>Cheddar Cheese <img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Veg_24px.png" style="padding:3px 2px 0; height: 16px;" /></td>
                    <td class="cal-count">460</td>
                    <td class="right-price">4.69</td>
                </tr>
                <tr>
                    <td class="header" width="80%"><strong>Egg Wrap</strong></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td id="santa-fe-td">Santa Fe Turkey-Sausage</td>
                    <td class="cal-count">660</td>
                    <td class="right-price">4.99</td>
                </tr>
                <tr>
                    <td style="line-height: 1;"><span style="font-size:15px;">Turkey-Sausage,&nbsp;Pepper Jack Cheese,<br />
			Salsa &amp; Jalape&ntilde;o Shmear</span></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="header" width="80%"><strong>Bagels</strong></td>
                    <td class="cal-count">160-270</td>
                    <td class="right-price">1.39</td>
                </tr>
                <tr>
                    <td style="line-height: 1;"><span id="shmear-td">with Shmear</span><br />
                        PB&amp;J<img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png" style="padding:3px 2px 0; height: 16px;" /> &bull; Hummus</td>
                    <td class="cal-count">270-440</td>
                    <td class="right-price">2.89</td>
                </tr>
                <tr>
                    <td style="line-height: 1;">with Butter Blend</td>
                    <td class="cal-count">280-330</td>
                    <td class="right-price">1.89</td>
                </tr>
                <tr>
                    <td style="line-height: 1;">Peanut Butter<img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png" style="padding:3px 2px 0; height: 16px;" /> &bull; Honey Butter</td>
                    <td class="cal-count">280-330</td>
                    <td class="right-price">1.89</td>
                </tr>
                <tr>
                    <td>Power Protein<img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png" style="padding:3px 2px 0; height: 16px;" /></td>
                    <td class="cal-count">310</td>
                    <td class="right-price">+.60</td>
                </tr>
                </tbody>
            </table>
        </div>

        <table id="icon-indicators" style="position: absolute; width: 434px; bottom: 10px; left: 10px;">
            <tbody>
            <tr>
                <td><img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Nut_24px.png" style="padding:3px 2px 0; height: 10px;" />Contains Nuts</td>
            </tr>
            <tr>
                <td><img src="http://vi-digital.com/lib/pjjdent/EBB_Icon_Veg_24px.png" style="padding:3px 2px 0; height: 10px;" />Vegetarian: May contain dairy and/or egg</td>
            </tr>
            </tbody>
        </table>
        <img id="applewood-bacon" src="http://vi-digital.com/lib/pjjdent/EBBStetson/ChedBaconSesBagel_2014.png" style="left: 400px; position: absolute; display: none;" /> <img id="sausage-cheddar-bagel" src="http://vi-digital.com/lib/pjjdent/EBBStetson/SausageCheddar_Bagel_2014.png" style="left: 400px; position: absolute; display: none;" /> <img id="santa-fe" src="http://vi-digital.com/lib/pjjdent/EBBStetson/SantaFeWrap_rot_2014_0.png" style="left: 400px; height: 200px; position: absolute; display: none;" /> <img id="shmear" src="http://vi-digital.com/lib/pjjdent/EBBStetson/Shmear_2014.png" style="left: 400px; position: absolute; display: none; height: 210px;" /></div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script><script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/velocity/0.7.0/jquery.velocity.min.js"></script><script type="text/javascript">
    function pxToInt(string) {
        return parseInt(string.split("px")[0]);
    }

    function intToPx(num) {
        return num + "px";
    }

    function unhighlight(td) {
        td.style.color = '#FFF';
    }

    function highlight(td, color) {
        td.style.color = color;

        setTimeout(unhighlight, 3500, td);
    }

    var items = [];

    var left_stack = [];
    var right_stack = [];

    function Item(img, xOffset, yOffset, left) {
        this.img = document.getElementById(img);
        this.td = document.getElementById(img + "-td");
        //this.xOffset = xOffset;
        this.fontColor = '#ffb900';
        this.xOffset = xOffset;
        this.yOffset = yOffset;
        this.leftSide = left;
    }

    window.onload = function () {
        //lunch
        items.push(new Item('lox', 440, 0, true));
        items.push(new Item('deli-turkey', 410, -10, true));
        items.push(new Item('bagel-dog', 440, 5, true));
        items.push(new Item('turkey-ba', 440, 0, true));
        items.push(new Item('tuna-salad', 440, 0, true));
        //items.push(new Item('turkey-wrap', 440, 5));
        items.push(new Item('italian-chicken', 440, 0, true));
        items.push(new Item('tasty-turkey', 440, 0, true));

        items.push(new Item("applewood-bacon", 440, 0, false));
        items.push(new Item("santa-fe", 440, -5, false));
        items.push(new Item("shmear", 440, -10, false));
        items.push(new Item("sausage-cheddar-bagel", 440, 0, false));

        var lCnt = 0;
        var rCnt = 0;

        for (var i = 0; i < items.length; i++) {
            items[i].img.style.left = intToPx(items[i].xOffset + 400);
            //items[i].img.style.top = intToPx(pxToInt(items[i].div.style.top) + items[i].yOffset);
            var j = items[i].leftSide ? lCnt : rCnt;
            items[i].img.style.top = intToPx(160 + 200*(j%3) + items[i].yOffset);
            if (items[i].leftSide) {
                lCnt++;
            } else {
                rCnt++;
            }

            items[i].img.dataset.originalx = items[i].img.style.left;
            items[i].img.dataset.originaly = items[i].img.style.top;

            items[i].img.style.display = "block";

            if (items[i].leftSide) {
                left_stack.push(items[i]);
            } else {
                right_stack.push(items[i]);
            }
        }

        function slideDownSingle(img) {
            $(img).velocity({ top: pxToInt(img.style.top) + 20, opacity: 0 }, 1000, 'linear', function(){
                img.style.left = img.dataset.originalx;
                img.style.top = img.dataset.originaly;
                img.style.opacity = 1;
            });
        }

        //start sliding things in
        function slideCycle(time, leftSide) {
            var stack = [];
            if (leftSide) {
                stack = left_stack;
            } else {
                stack = right_stack;
            }

            for (var i = 0; i < stack.length; i++) {
                slideDownSingle(stack[i].img, 0, 20);
            }

            function createSlideIn(i, time, img, xOffset, td) {
                setTimeout(function () {
                    $(img).velocity({ left: xOffset }, 1000, 'linear', function() {
                        setTimeout(function(){unhighlight(td);}, 2000);
                    });
                }, time);
            }

            setTimeout(function () {
                var cutoff = (stack.length - 3);
                console.log(cutoff);
                for (var i = 0; i < stack.length; i++) {
                    createSlideIn(i, i*time, stack[i].img, stack[i].xOffset, stack[i].td);
                    setTimeout(highlight, i * time + 500, stack[i].td, stack[i].fontColor);

                    if (stack.length > 3 && i < cutoff) {
                        console.log(i);
                        setTimeout(slideDownSingle, i * time + (time * 3), stack[i].img, 0, 20);
                    }
                }
                setTimeout(slideCycle, time * (stack.length + 1), time, !(leftSide));
            }, 1000);
        }

        slideCycle(5000, left_stack);
    };
</script><!-- end fix --></div>
