<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="bin/jquery-1.11.2.min.js"></script>
<script src="bin/masonry.pkgd.min.js"></script>

<!--
	  font-family:'Helvetica';
 	  /* background-image: url('ABC_Template5.jpg'), url('http://vi-digital.com/lib/vicorporatemenus/ABC-Corp/ABC_Template5.jpg'); */
	  text-align: center;

.header {
position: absolute;
top: 50px !important;
left: 0px !important;
width: 1280px;
padding-bottom: 50px;
text-align: center;
font-size: 90px;
font-family:  'Helvetica';
color: #ccc;
text-transform: uppercase;
}
<div class="header">April Specials</div>
-->


<script id="TheJson" type="application/json">
    var jsonarray = [
    {
    "id": 				"001",
    "name": 			"Jim Beam's Choice",
    "size": 			"1.75L",
    "regprice": 	"33.95",
    "savings": 		"4.00",
    "saleprice": 	"29.95",
    "url_image": 	"png/jim_beam_choice.png"
    },
    {
    "id": 				"002",
    "name": 			"Jim Beam Kentucky Fire",
    "size": 			".75L",
    "regprice": 	"17.95",
    "savings": 		"3.00",
    "saleprice": 	"14.95",
    "url_image": 	"png/JimBeamKYFire.png"
    },
    {
    "id": 				"003",
    "name": 			"Elijah Craig",
    "size": 			"1.75L",
    "regprice": 	"49.95",
    "savings": 		"5.00",
    "saleprice": 	"44.95",
    "url_image": 	"png/Elijah_Craig.png"
    },
    {
    "id": 				"004",
    "name": 			"Wild Turkey 101",
    "size": 			"1.75L",
    "regprice": 	"46.95",
    "savings": 		"4.00",
    "saleprice": 	"42.95",
    "url_image": 	"png/WildTurkey101.png"
    }
    ];
</script>

<script type="text/javascript">
(function () {
    /***BRUTE FORCE METHOD***/
    var numitems = document.getElementsByClassName("thm").length();
    var totalwidth = "1200"; var totalheight = "768";
    var rows = 1; var rowheight = 1; var colwidth = 1;
    //1,2,3
    if (numitems > 0 && numitems <= 3) {
        rows = 1;
        rowheight = totalheight / rows;
        colwidth = totalwidth / (numitems / rows);
    }
    //4,5,6,7,8
    else if (numitems > 3 && numitems <= 8) {
        rows = 2;
        rowheight = totalheight / rows;
        colwidth = totalwidth / (numitems / rows);
    }
    //9,10,11,12,13,14,15,16,17,18
    else if (numitems > 8 && numitems <= 18) {
        rows = 3;
        rowheight = totalheight / rows;
        colwidth = totalwidth / (numitems / rows);
    }
    //19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
    else if (numitems > 18 && numitems <= 36) {
        rows = 4;
        rowheight = totalheight / rows;
        colwidth = totalwidth / (numitems / rows);
    }
    //19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
    else if (numitems > 36 && numitems <= 72) {
        rows = 5;
        rowheight = totalheight / rows;
        colwidth = totalwidth / (numitems / rows);
    }
    //19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
    else if (numitems > 72 && numitems <= 156) {
        rows = 6;
        rowheight = totalheight / rows;
        colwidth = totalwidth / (numitems / rows);
    }
})();
/*
 1. display bg-grid of bottles depending on array size
 2. highlight 1st bottle square in bg-grid
 3. animate in 1st bottle overlay, setInterval 7000ms
 4. animate out 1st bottle overlay
 5. repeat steps 2-4 for each special
 */

//Math.sqrt(n);

function getGridDimensions (rectsurface, numItems, whRatio) {
    // do something to determine grid-height and grid-width
    return gridDimensions;
}
function runlogic() {
    return Math.sqrt(25);
}
/*
 var elems = $("img.thm");
 var nodelist = document.getElementsByClassName("thm").length;
 console.log(elems, 'vv');
 console.log(nodelist, 'ww');
 $(".thm").css(size, '100px');
 for (var i=0; i < nodelist.length; i++) {
 txt = txt + nodelist[i].nodeName + "<br>";
 }
 */
// 1280 	768 	5:3 	0.983     w/h = 1.666666666666667   h/w = 0.64
// 1280 	768 	983040 total px
//    93 / 400 = 0.2325
//   125 / 400 = 0.3125
//   400 / 560 = 0.7143
//
/*

give 25 items
divide total area by 25 -> 39321.6
find GCD of preferred ratio w/h,
 divide item_w and item_h by GCD to find usable ratio
find width and height given a 1:1 wh ratio for squares (39321.6 / 2 = y)
find width and height given a 3:5 wh ratio for rects   (39321.6 = 3x * 5x)
                                                       (39321.6 = 3x * 5x)
                                                        8x^2 = 39321.6
                                                        x^2 = 39321.6 / 15
                                                        x = sqrt(39321.6 / 15)
gcd = 25
125(w) / gcd = 5
400(h) / gcd = 16
5:16 ratio for item
125(w) * 400(h)  = 50,000 area

[[[https://answers.yahoo.com/question/index?qid=20090519170531AA7I3zd]]]
 How do you find dimensions of a rectangle if you are given
    the area (135) and the sides are in a 3 to 5 ratio?
 Area = L x W
 Let length = 5x
 and let width = 3x
 5x * 3x = 135
 15x^2 = 135
 x^2 = 9
 x = 3 [Take the positive answer only coz length is positive]
 So dimensions of the rectangle are:
 Length = 5 * 3 = 15
 Width = 3 * 3 = 9
V-v-v-v-v-.-v-v-v-v-V
Let length = uratiowidth * x
Let height = uratioheight * x
 (uratiowidth * x) * (uratioheight * x) = optcellarea
 (uratiowidth * uratioheight) x^2 = optcellarea
x^2 = optcellarea / (uratiowidth * uratioheight)
optx = sqrt( optcellarea / (uratiowidth * uratioheight) )
therefor...
optrectwidth = optx * uratiowidth
optrectheight = optx * uratioheight

4w 4h = 16 1:1
 x * y = 16    m:n
 3.2 * 5 = 16  m:n


2w 8h = 16

 */
//****************//
$( this ).css({
    "background-color": "yellow",
    "font-weight": "bolder"
});
//****************//
var styles = {
    backgroundColor : "#ddd",
    fontWeight: ""
};
$( this ).css( styles );
});
//****************//
 $(function() {
 var jparse = JSON.parse($('#TheJson').html());
 alert(jparse.name); //Foo
 });
//****************//
document.getElementById("theDIV").style.color = "blue";
var c = document.getElementById("theDIV").childNodes.length;
var c = document.getElementById("theDIV").childNodes[2].text;
var c = document.getElementById("theDIV").childNodes[2].style.maxHeight = "100px";
var c = document.getElementById("theDIV").childNodes[2].style.maxWidth = "100px";
//****************//
//Loop through all children of X and change their background color to red:
    var children = document.getElementById("theDIV").children;
    var i;
    for (i = 0; i < children.length; i++) {
        children[i].style.backgroundColor = "red";
    }
//****************//
document.getElementById("myDIV").style.maxHeight = "15px";
var currentClassValue = element.className;
document.querySelectorAll("#thumbs");
//****************//
 var oldTable = document.getElementById('example'),
 newTable = oldTable.cloneNode();
 for(var i = 0; i < jsonarray.length; i++){
 var tr = document.createElement('tr');
 for(var j = 0; j < jsonarray[i].length; j++){
 var td = document.createElement('td');
 td.appendChild(document.createTextNode(jsonarray[i][j]));
 tr.appendChild(td);
 }
 newTable.appendChild(tr);
 }

 oldTable.parentNode.replaceChild(newTable, oldTable);
//****************//


var items = document.getElementsByClassName("content_lib");
for (var i = 0; i < items.length; i++)
    alert(items[i].name);

//====================================================//
//==Custom Event
//====================================================//


//create an EVENT and dispatch now because the divs are created.
//                var e_nodes_inserted = document.createEvent('Event');
//                e_nodes_inserted.initEvent('e_nodes_inserted', true, true);
//                document.dispatchEvent(e_nodes_inserted);

//document.dispatchEvent(e_nodes_inserted);

// Listen for the event.
//    document.addEventListener('e_nodes_inserted', function (e) {
// e.target matches document from above
//    }, false);


//====================================================//
//==Global Functions
//====================================================//
//Global function existing to serve everyone
function swearOutLoud(swearWord)
{
    alert("You "+swearWord);
}
//global functions' territory ends here

//here is mr. spongebob. He is very passionate about his objects; but he's a bit rude.
var spongeBob = {
    name : "squarePants",
    swear : function(swearWord) {
        name = "spongy";
        alert("You "+swearWord);
        return this;
    }
};

//finally spongebob learns good manners too. EVOLUTION!
spongeBob.apologize = function() {
    alert("Hey " + this.name + ", I'm sorry man!");
    return this;
};


//Ask spongebob to swear and then apologize in one go (CASCADING EFFECT!!)
alert(spongeBob.swear("twit").apologize());


//====================================================//
//==JSONMOD
//====================================================//

/*
 The MORE items given,
 1. less flex-basis on cells
 2. less max-height on img
 31 items, 10% basis, max-height: 160px;
 57 items, 10% basis, max-height: 120px;
 81 items, 6% basis,  max-height: 91px;
 */


    var JSONMOD = (function() {


        var module_runjson = function(data) {
            jQuery.each(data, function(key, val){
                var thisbox = $("<div />");
                var thisimg = $("<img />");
                thisbox.addClass("cell " + val.id).appendTo("#viewport");
                thisimg.attr("src", val.url_image).addClass("item-img").appendTo(thisbox);

            });
    //create an EVENT and dispatch now because the divs are created.
            var ev_nodes_inserted = document.createEvent('Event');
            ev_nodes_inserted.initEvent('ev_nodes_inserted', true, true);
            document.dispatchEvent(ev_nodes_inserted);


            var setstyles = function(){
                var dynstyles = document.createElement('style');
                dynstyles.innerHTML = "div {border: 2px solid black; background-color: blue;}";
                document.body.appendChild(dynstyles);
            };
            var exports = {};
            exports.num_items = (function () {
                var arr = [];
                for(key in data) { arr.push(key); }
                return arr.length;
            }());
            setstyles(exports.num_items);
            console.log(exports.num_items);
            return exports;
        };//end "module_runjson"

        var getj = $.getJSON('js/json_items_4.json', module_runjson );
    //        console.log(module_runjson.num_items);
        console.log(module_runjson.num_items);

    }());//end "JSONMOD"


</script>
//====================================================//
//==auto slideshow
//====================================================//

<img src="firstcar.gif" id="slide" width=100 height=56 />
<script type="text/javascript">
//instances of image object stored in array, thus preloading into cache(runs in <head> to preload)
var imgs = new Array();
imgs[0] = new Image();          // create new instance of image object
imgs[0].src = "firstcar.gif";   // set image src property to image path, preloading image in the process
imgs[1] = new Image();
imgs[1].src = "secondcar.gif";
imgs[2] = new Image();
imgs[2].src = "thirdcar.gif";

//variable that will increment through the images
var step=0;

function slideit(){
    //if browser does not support the image object, exit.
    if (!document.images)
        return;
    document.getElementById('slide').src = imgs[step].src;
    if (step<2){
        step++;
    }else{
        step = 0;
        //call function "slideit()" every 2.5 seconds
        setTimeout("slideit()", 2500)
    }
}
slideit()
</script>


<script type="text/javascript">
$(window).load(function(){

    (function autoAdvance(){

        // Simulating a click on the next arrow.
        $('#slideshow .next').trigger('click',[true]);

        // Schedulling a time out in 5 seconds.
        timeOut = setTimeout(autoAdvance,5000);
    })();

});

</script>


<!--work out linear relationships -->
<script type="text/javascript">
    // n 5   : mh 540 : fb 19
    // n 10  : mh 340 : fb 17
    // n 21  : mh 190 : fb 16
    // n 31  : mh 150 : fb 14
    // n 60  : mh 140 : fb 11
    // n 120 : mh 100 : fb 6
    // n 180 : mh 60  : fb 4
    var n_items = x;    // <--- give a number
    var mh = "";  //y will be found for maxheight
    var fb = "";  //z will be found for flex basis
    var n_min = 0;
    var n_max = 400;
    var n_cieling = n_max - n_min;
    var mh_min = 60;
    var mh_max = 540;
    var mh_cieling = mh_max - mh_min;
    var fb_min = 4;
    var fb_max = 19;
    var fb_cieling = fb_max - fb_min;

    var percent_of_n = n_items / n_cieling;
    var reversed_percent = 1 - percent_of_n;
    var figured_percent_of_mh = (reversed_percent / )


</script>



<!--HIDDEN ANIMATION-->
<script type="text/javascript">


var box = $('#box');

$('button').on('click', function () {

    if (box.hasClass('hidden')) {

        box.removeClass('hidden');
        setTimeout(function () {
            box.removeClass('visuallyhidden');
        }, 20);

    } else {

        box.addClass('visuallyhidden');

        box.one('transitionend', function(e) {

            box.addClass('hidden');

        });

    }

});


</script>
















