<div id="vi-fix" style="position: relative; top: 0px; left: 0px;">
    <style type="text/css">body {margin:0px; padding:0px; width:100%; height:100%; color:#000; overflow:hidden;}
    #pl-cover {
        background-color:#ffffff; color:#000000;
        position:absolute; top:0px; left:0px;
        width:1280px; height:768px;
        z-index:10000;
    }
    </style>
    <div id="pl-cover">&nbsp;</div>
    <script type="text/javascript">
        var cover = document.getElementById('pl-cover');
        var speed = 50; /*FADE SPEED - 10=fast, 100=slow orig100*/
        var slides = 2; /*Number of slides*/

        var plnum = 0,
                PLtime = new Array(slides),
                PLcontent = new Array(slides);

        function FadeIn() { cover.style.opacity = 1; }
        function FadeOut() { if(cover.style.opacity > 0) { cover.style.opacity=(cover.style.opacity - 0.1).toFixed(2); setTimeout(FadeOut, speed); } }

        PLtime[0] = 5000;
        PLtime[1] = 8000;


        PLcontent[0] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ebody%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%40font-face%20%7B%0D%0A%09font-family%3A%20%22Gadget%22%3B%0D%0A%09src%3A%20url%28gadget-webfont.svg%29%20format%28%22svg%22%29%2C%20url%28http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2Fgadget-webfont.svg%29%20format%28%22svg%22%29%2C%20url%28http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FGadget.ttf%29%20format%28%22truetype%22%29%3B%0D%0A%7D%0D%0A%40font-face%20%7B%0D%0A%09font-family%3A%20%22DIN%20Bold%22%3B%0D%0A%09src%3A%20%20url%28din_bold-webfont.svg%29%20format%28%22svg%22%29%2C%20url%28http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2Fdin_bold-webfont.svg%29%20format%28%22svg%22%29%2C%20url%28http%3A%2F%2Fvi-digital.com%2Flib%2Ffonts%2FDIN_Bold.ttf%29%20format%28%22truetype%22%29%3B%0D%0A%7D%0D%0Abody%20%7B%0D%0A%09%2F%2Abackground-color%3A%23000000%3B%2A%2F%0D%0A%09background-color%3A%20%23F2AF00%3B%0D%0A%09border%3Anone%3B%0D%0A%09color%3A%23ffffff%3B%0D%0A%09margin%3A0px%3B%0D%0A%09%2F%2Abackground-image%3Aurl%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBStetson%2FEBB_BG_2Guys.jpg%27%29%3B%2A%2F%0D%0A%09background-repeat%3A%20no-repeat%3B%0D%0A%09font-family%3A%20%22DIN%20Bold%22%2C%20sans-serif%3B%0D%0A%09-webkit-font-smoothing%3A%20antialiased%3B%0D%0A%7D%0D%0Atable%2C%20td%20%7B%0D%0A%09font-family%3A%20%22DIN%20Bold%22%2C%20sans-serif%3B%0D%0A%09font-size%3A%2020px%3B%0D%0A%09%2F%2A%20vertical-align%3Atop%3B%20%2A%2F%0D%0A%09text-align%3A%20left%3B%0D%0A%7D%0D%0A.calorie%20%7B%0D%0A%09letter-spacing%3A%201em%3B%0D%0A%7D%0D%0A.header%2C%20.header%20td%20%7B%0D%0A%09color%3A%23ffb900%3B%0D%0A%09font-family%3A%20%22Gadget%22%2C%20sans-serif%3B%0D%0A%09font-size%3A31px%3B%0D%0A%09font-weight%3A%20bold%3B%0D%0A%09text-shadow%3A%203px%203px%208px%20%23000000%3B%0D%0A%7D%0D%0A.header2%2C%20.header2%20td%20%7B%0D%0A%09color%3A%2362B03A%3B%0D%0A%09font-family%3A%20%22Gadget%22%2C%20sans-serif%3B%0D%0A%09font-size%3A31px%3B%0D%0A%09font-weight%3A%20bold%3B%0D%0A%09text-shadow%3A%203px%203px%208px%20%23000000%3B%0D%0A%7D%0D%0A.light-cals%20%7Bcolor%3A%23bbb%3B%20width%3A100px%3B%20text-align%3Acenter%3B%20font-size%3A18px%3B%7D%0D%0A.right-price%20%7B%2F%2Avertical-align%3Atop%3B%2A%2F%7D%0D%0A.iced%20%7B%0D%0A%09font-family%3A%20Arial%2C%20Helvetica%2C%20sans-serif%3B%0D%0A%09font-size%3A%2030px%3B%0D%0A%09font-weight%3A%20bold%3B%0D%0A%09font-style%3A%20normal%3B%0D%0A%09font-weight%3A%20lighter%3B%0D%0A%09font-stretch%3A%20narrower%3B%0D%0A%7D%0D%0A.price%20%7B%0D%0A%09color%3A%23ffb900%3B%0D%0A%09font-family%3A%20%22DIN%20Bold%22%2C%20sans-serif%3B%0D%0A%09font-size%3A31px%3B%0D%0A%09font-weight%3A%20bold%3B%0D%0A%09text-shadow%3A%203px%203px%208px%20%23000000%3B%0D%0A%7D%0D%0A.yellow%20%7Bcolor%3A%23ffb900%3B%7D%0D%0A%23icon-indicators%20td%20%7B%0D%0A%09font-size%3A10px%3B%0D%0A%09vertical-align%3A%20bottom%3B%0D%0A%09color%3A%23BFBFBF%3B%0D%0A%09text-align%3A%20left%3B%0D%0A%7D%0D%0A%23right-half%20%7B%0D%0A%09width%3A%20634px%3B%0D%0A%09height%3A%20768px%3B%0D%0A%09position%3A%20absolute%3B%0D%0A%09top%3A%200px%3B%0D%0A%09left%3A%200px%3B%0D%0A%09overflow%3A%20hidden%3B%0D%0A%0D%0A%09background-size%3A%20cover%3B%0D%0A%09background-image%3A%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBEarthcity%2FBreakfastbg.png%27%29%3B%0D%0A%7D%0D%0A%23left-half%20%7B%0D%0A%09width%3A%20634px%3B%0D%0A%09height%3A%20768px%3B%0D%0A%09position%3A%20absolute%3B%0D%0A%09top%3A%200px%3B%0D%0A%09left%3A%20646px%3B%0D%0A%09overflow%3A%20hidden%3B%0D%0A%0D%0A%09background-size%3A%20cover%3B%0D%0A%09%2F%2Abackground-image%3A%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBCLT%2FBreakfast_bg_0.jpg%27%29%3B%2A%2F%0D%0A%09background-image%3A%20url%28%27http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBEarthcity%2FBreakfastbg.png%27%29%3B%0D%0A%0D%0A%09z-index%3A%201%3B%0D%0A%7D%0D%0A.title%20td%20%7B%0D%0A%09color%3A%20%23000%3B%0D%0A%09text-align%3A%20left%3B%0D%0A%7D%0D%0A%23LTO-panel%20%7B%0D%0A%09position%3A%20absolute%3B%0D%0A%09-webkit-transition%3A%20left%201s%3B%0D%0A%09left%3A%201280px%3B%0D%0A%09z-index%3A%20200%3B%0D%0A%7D%0D%0A.icon-indicators%20td%20%7B%0D%0A%09font-size%3A12px%3B%0D%0A%09vertical-align%3A%20bottom%3B%0D%0A%09color%3A%23BFBFBF%3B%0D%0A%09text-align%3A%20left%3B%0D%0A%7D%0D%0Atd%20%7B%0D%0A%09line-height%3A%201.15%3B%0D%0A%7D%0D%0A.cal-count%20%7B%0D%0A%09color%3A%20%23bbb%3B%0D%0A%09font-size%3A%2018px%3B%0D%0A%09visibility%3A%20hidden%3B%0D%0A%7D%0D%0A%23lunch-table%20td%20%7B%0D%0A%09line-height%3A%201.05%3B%0D%0A%7D%0A%3C%2Fstyle%3E%0A%3Cdiv%20id%3D%22right-half%22%3E%0A%3Ctable%20class%3D%22title%22%20style%3D%22position%3A%20absolute%3B%20top%3A%2018px%3B%20left%3A%2010px%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20style%3D%22line-height%3A%2075%25%3B%20margin%3A%200px%3B%20font-size%3A%2064px%22%3ELunch%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3EAlways%20Made%20Fresh%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20id%3D%22lunch-table%22%20style%3D%22position%3A%20absolute%3B%20width%3A%20420px%3B%20table-layout%3A%20fixed%3B%20height%3A%20500px%3B%20top%3A%20145px%3B%20left%3A%2010px%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%20style%3D%22width%3A%20345px%22%3ESignature%20Sandwiches%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3Ecal%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22tasty-turkey-td%22%3ETasty%20Turkey%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E530%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.29%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22turkey-ba-td%22%3ETurkey%2C%20Bacon%20%26amp%3B%20Avocado%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E680%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.29%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22turkey-wrap-td%22%3ETurkey%20Club%20Mex%20Wrap%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E610%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.29%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3EVeg%20Out%3Csmall%3E%26reg%3B%3C%2Fsmall%3E%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Veg_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2016px%3B%20padding-top%3A%203px%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E440%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E7.29%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22lox-td%22%3ENova%20Lox%2A%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E440%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.39%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EDeli%20Sandwiches%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3EChicken%20Salad%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Nut_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2016px%3B%20padding-top%3A%203px%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E630%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.29%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22tuna-salad-td%22%3EAlbacore%20Tuna%20Salad%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E480%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.29%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3EHam%20%26amp%3B%20Swiss%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E500%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.29%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22deli-turkey-td%22%3ETurkey%20%26amp%3B%20Cheddar%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E480%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.29%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EHot%20Sandwiches%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22italian-chicken-td%22%3EItalian%20Chicken%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E760%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.39%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ETurkey%20Club%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E770%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E8.39%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%3EFavorites%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22pizza-bagel-td%22%3EPepperoni%20Pizza%20Bagel%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E520%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.99%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ECheese%20Pizza%20Bagel%20%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Veg_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2016px%3B%20padding-top%3A%203px%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E430%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.79%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20style%3D%22position%3A%20absolute%3B%20width%3A%20415px%3B%20table-layout%3A%20fixed%3B%20top%3A%20642px%3B%20left%3A%2010px%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22bagel-dog-td%22%20style%3D%22width%3A%20298px%22%3EBagel%20Dog%20%3Cspan%20style%3D%22font-size%3A%2015px%22%3EOriginal%20or%20Asiago%3C%2Fspan%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%20style%3D%22width%3A%2077px%3B%20overflow%3A%20visible%22%3E610%20-%20620%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.69%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Ctable%20class%3D%22icon-indicators%22%20style%3D%22position%3A%20absolute%3B%20width%3A%20434px%3B%20bottom%3A%2040px%3B%20left%3A%2020px%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20style%3D%22line-height%3A%208px%22%3E%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Nut_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2010px%3B%20padding-top%3A%203px%22%20%2F%3EContains%20nuts%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20style%3D%22line-height%3A%208px%22%3E%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Veg_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2010px%3B%20padding-top%3A%203px%22%20%2F%3EVegetarian%3A%20May%20contain%20dairy%20and%2For%20eggs%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3Cspan%20style%3D%22position%3A%20absolute%3B%20line-height%3A%201%3B%20width%3A%20434px%3B%20bottom%3A%2010px%3B%20color%3A%20%23bfbfbf%3B%20font-size%3A%2012px%3B%20left%3A%2010px%22%3E%2ACold%20smoked%20salmon%20is%20not%20cooked.%20Consuming%20raw%20or%20undercooked%3Cbr%20%2F%3E%0Aseafood%20may%20increase%20the%20risk%20of%20foodborne%20illness.%3C%2Fspan%3E%20%3Cimg%20id%3D%22tasty-turkey%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBCLT%2FTastyTurkeyAsiagoSand_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%22%20%2F%3E%20%3Cimg%20id%3D%22deli-turkey%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBCLT%2FDeliTurkey_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%22%20%2F%3E%20%3Cimg%20id%3D%22italian-chicken%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBCLT%2FItalianChickenSandwich_cropped_0.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%22%20%2F%3E%20%3Cimg%20id%3D%22lox%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBCLT%2FNovaLox_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%22%20%2F%3E%20%3Cimg%20id%3D%22turkey-ba%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBCLT%2FTurkeyBAT_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%22%20%2F%3E%20%3Cimg%20id%3D%22tuna-salad%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBCLT%2FTunaSalad_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%22%20%2F%3E%20%3Cimg%20id%3D%22bagel-dog%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBCLT%2FBagelDogs_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%22%20%2F%3E%3C%2Fdiv%3E%0A%0A%3Cdiv%20id%3D%22LTO-panel%22%3E%3Cvideo%20preload%3D%22auto%22%3E%3Csource%20src%3D%22TostiniCinnFull.ogv%22%20%2F%3E%20%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fvicorporatemenus%2FCorporate---EBB%2FTostiniCinnFull.ogv%22%20%2F%3E%3C%2Fvideo%3E%3Cvideo%20preload%3D%22auto%22%3E%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FFlatbreadVeggieFull1.ogv%22%20%2F%3E%3C%2Fvideo%3E%3Cvideo%20preload%3D%22auto%22%3E%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FFlatbreadBBQChickenFull1.ogv%22%20%2F%3E%3C%2Fvideo%3E%3C%2Fdiv%3E%0A%0A%3Cdiv%20id%3D%22left-half%22%3E%0A%3Ctable%20class%3D%22title%22%20style%3D%22position%3A%20absolute%3B%20top%3A%2022px%3B%20left%3A%2010px%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20style%3D%22line-height%3A%2075%25%3B%20margin%3A%200px%3B%20font-family%3A%20%27Gadget%27%3B%20font-size%3A%2064px%22%3EBreakfast%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3EFresh-Baked%20All%20Day%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%0A%3Cdiv%20class%3D%22div%22%20id%3D%22eggsandwich%22%20style%3D%22position%3A%20absolute%3B%20width%3A%20393px%3B%20top%3A%20145px%3B%20left%3A%2020px%22%3E%0A%3Ctable%20border%3D%220%22%20cellpadding%3D%220%22%20cellspacing%3D%220%22%20style%3D%22height%3A%20575px%3B%20top%3A%200px%22%20width%3D%22100%25%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%20width%3D%2280%25%22%3E%3Cstrong%3EEgg%20Sandwiches%3C%2Fstrong%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3Ecal%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22applewood-bacon-td%22%3EApplewood%20Bacon%20%26amp%3B%20Cheddar%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E530%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.59%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22sausage-cheddar-bagel-td%22%3ETurkey-Sausage%20%26amp%3B%20Cheddar%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E530%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.59%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3EHam%20%26amp%3B%20Swiss%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E480%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.59%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3ESpinach%2C%20Mushroom%20%26amp%3B%20Swiss%20%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Veg_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2016px%3B%20padding-top%3A%203px%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E490%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.49%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3EEgg%20%26amp%3B%20Cheese%20%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Veg_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2016px%3B%20padding-top%3A%203px%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E460%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.19%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%20width%3D%2280%25%22%3E%3Cstrong%3EEgg%20Wrap%3C%2Fstrong%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%3E%26nbsp%3B%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20id%3D%22santa-fe-td%22%3ESanta%20Fe%20Turkey-Sausage%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E660%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E5.59%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20style%3D%22line-height%3A%201%22%3E%3Cspan%20style%3D%22font-size%3A%2015px%22%3ETurkey-Sausage%2C%26nbsp%3BPepper%20Jack%20Cheese%2C%3Cbr%20%2F%3E%0A%09%09%09Salsa%20%26amp%3B%20Jalape%26ntilde%3Bo%20Shmear%3C%2Fspan%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%3E%26nbsp%3B%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20class%3D%22header%22%20width%3D%2280%25%22%3E%3Cstrong%3EBagels%3C%2Fstrong%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E%3C%21--160-270--%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E1.99%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20style%3D%22line-height%3A%201%22%3E%3Cspan%20id%3D%22shmear-td%22%3Ewith%20Shmear%3C%2Fspan%3E%3Cbr%20%2F%3E%0A%09%09%09PB%26amp%3BJ%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Nut_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2016px%3B%20padding-top%3A%203px%22%20%2F%3E%20%26bull%3B%20Hummus%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E%3C%21--270-440--%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E2.99%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20style%3D%22line-height%3A%201%22%3Ewith%20Butter%20Blend%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E%3C%21--280-330--%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E2.79%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%20style%3D%22line-height%3A%201%22%3EPeanut%20Butter%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Nut_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2016px%3B%20padding-top%3A%203px%22%20%2F%3E%20%26bull%3B%20Honey%20Butter%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E2%3C%21--80-330--%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E2.79%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3EPower%20Protein%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Nut_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2016px%3B%20padding-top%3A%203px%22%20%2F%3E%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22cal-count%22%3E310%3C%2Ftd%3E%0A%09%09%09%3Ctd%20class%3D%22right-price%22%3E%2B.60%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3C%2Fdiv%3E%0A%0A%3Ctable%20id%3D%22icon-indicators%22%20style%3D%22position%3A%20absolute%3B%20width%3A%20434px%3B%20bottom%3A%2010px%3B%20left%3A%2010px%22%3E%0A%09%3Ctbody%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Nut_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2010px%3B%20padding-top%3A%203px%22%20%2F%3EContains%20Nuts%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%09%3Ctr%3E%0A%09%09%09%3Ctd%3E%3Cimg%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_Icon_Veg_24px.png%22%20style%3D%22padding-bottom%3A%200px%3B%20padding-left%3A%202px%3B%20padding-right%3A%202px%3B%20height%3A%2010px%3B%20padding-top%3A%203px%22%20%2F%3EVegetarian%3A%20May%20contain%20dairy%20and%2For%20egg%3C%2Ftd%3E%0A%09%09%3C%2Ftr%3E%0A%09%3C%2Ftbody%3E%0A%3C%2Ftable%3E%0A%3Cimg%20id%3D%22applewood-bacon%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBStetson%2FChedBaconSesBagel_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%3B%20left%3A%20400px%22%20%2F%3E%20%3Cimg%20id%3D%22sausage-cheddar-bagel%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBStetson%2FSausageCheddar_Bagel_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%3B%20left%3A%20400px%22%20%2F%3E%20%3Cimg%20id%3D%22santa-fe%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBStetson%2FSantaFeWrap_rot_2014_0.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%3B%20height%3A%20200px%3B%20left%3A%20400px%22%20%2F%3E%20%3Cimg%20id%3D%22shmear%22%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBBStetson%2FShmear_2014.png%22%20style%3D%22position%3A%20absolute%3B%20display%3A%20none%3B%20height%3A%20210px%3B%20left%3A%20400px%22%20%2F%3E%3C%2Fdiv%3E%0A%3Cscript%20type%3D%22text%2Fjavascript%22%20src%3D%22http%3A%2F%2Fcode.jquery.com%2Fjquery-2.1.1.min.js%22%3E%3C%2Fscript%3E%3Cscript%20type%3D%22text%2Fjavascript%22%20src%3D%22http%3A%2F%2Fcdnjs.cloudflare.com%2Fajax%2Flibs%2Fvelocity%2F0.7.0%2Fjquery.velocity.min.js%22%3E%3C%2Fscript%3E%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0D%0Afunction%20pxToInt%28string%29%20%7B%0D%0A%09return%20parseInt%28string.split%28%22px%22%29%5B0%5D%29%3B%0D%0A%7D%0D%0A%0D%0Afunction%20intToPx%28num%29%20%7B%0D%0A%09return%20num%20%2B%20%22px%22%3B%0D%0A%7D%0D%0A%0D%0Afunction%20unhighlight%28td%29%20%7B%0D%0A%09td.style.color%20%3D%20%27%23FFF%27%3B%0D%0A%7D%0D%0A%0D%0Afunction%20highlight%28td%2C%20color%29%20%7B%0D%0A%09td.style.color%20%3D%20color%3B%0D%0A%0D%0A%09setTimeout%28unhighlight%2C%203500%2C%20td%29%3B%0D%0A%7D%0D%0A%0D%0Avar%20items%20%3D%20%5B%5D%3B%0D%0A%0D%0Avar%20left_stack%20%3D%20%5B%5D%3B%0D%0Avar%20right_stack%20%3D%20%5B%5D%3B%0D%0A%0D%0Afunction%20Item%28img%2C%20xOffset%2C%20yOffset%2C%20left%29%20%7B%0D%0A%09this.img%20%3D%20document.getElementById%28img%29%3B%0D%0A%09this.td%20%3D%20document.getElementById%28img%20%2B%20%22-td%22%29%3B%0D%0A%09%2F%2Fthis.xOffset%20%3D%20xOffset%3B%0D%0A%09this.fontColor%20%3D%20%27%23ffb900%27%3B%0D%0A%09this.xOffset%20%3D%20xOffset%3B%0D%0A%09this.yOffset%20%3D%20yOffset%3B%0D%0A%09this.leftSide%20%3D%20left%3B%0D%0A%7D%0D%0A%0D%0Awindow.onload%20%3D%20function%20%28%29%20%7B%0D%0A%09%2F%2Flunch%0D%0A%09items.push%28new%20Item%28%27lox%27%2C%20440%2C%200%2C%20true%29%29%3B%0D%0A%09items.push%28new%20Item%28%27deli-turkey%27%2C%20410%2C%20-10%2C%20true%29%29%3B%0D%0A%09items.push%28new%20Item%28%27bagel-dog%27%2C%20440%2C%205%2C%20true%29%29%3B%0D%0A%09items.push%28new%20Item%28%27turkey-ba%27%2C%20440%2C%200%2C%20true%29%29%3B%0D%0A%09items.push%28new%20Item%28%27tuna-salad%27%2C%20440%2C%200%2C%20true%29%29%3B%0D%0A%09%2F%2Fitems.push%28new%20Item%28%27turkey-wrap%27%2C%20440%2C%205%29%29%3B%0D%0A%09items.push%28new%20Item%28%27italian-chicken%27%2C%20440%2C%200%2C%20true%29%29%3B%0D%0A%09items.push%28new%20Item%28%27tasty-turkey%27%2C%20440%2C%200%2C%20true%29%29%3B%0D%0A%0D%0A%09items.push%28new%20Item%28%22applewood-bacon%22%2C%20440%2C%200%2C%20false%29%29%3B%0D%0A%09items.push%28new%20Item%28%22santa-fe%22%2C%20440%2C%20-5%2C%20false%29%29%3B%0D%0A%09items.push%28new%20Item%28%22shmear%22%2C%20440%2C%20-10%2C%20false%29%29%3B%0D%0A%09items.push%28new%20Item%28%22sausage-cheddar-bagel%22%2C%20440%2C%200%2C%20false%29%29%3B%0D%0A%0D%0A%09var%20lCnt%20%3D%200%3B%0D%0A%09var%20rCnt%20%3D%200%3B%0D%0A%0D%0A%09for%20%28var%20i%20%3D%200%3B%20i%20%3C%20items.length%3B%20i%2B%2B%29%20%7B%0D%0A%09%09items%5Bi%5D.img.style.left%20%3D%20intToPx%28items%5Bi%5D.xOffset%20%2B%20400%29%3B%0D%0A%09%09%2F%2Fitems%5Bi%5D.img.style.top%20%3D%20intToPx%28pxToInt%28items%5Bi%5D.div.style.top%29%20%2B%20items%5Bi%5D.yOffset%29%3B%0D%0A%09%09var%20j%20%3D%20items%5Bi%5D.leftSide%20%3F%20lCnt%20%3A%20rCnt%3B%0D%0A%09%09items%5Bi%5D.img.style.top%20%3D%20intToPx%28160%20%2B%20200%2A%28j%253%29%20%2B%20items%5Bi%5D.yOffset%29%3B%0D%0A%09%09if%20%28items%5Bi%5D.leftSide%29%20%7B%0D%0A%09%09%09lCnt%2B%2B%3B%0D%0A%09%09%7D%20else%20%7B%0D%0A%09%09%09rCnt%2B%2B%3B%0D%0A%09%09%7D%0D%0A%0D%0A%09%09items%5Bi%5D.img.dataset.originalx%20%3D%20items%5Bi%5D.img.style.left%3B%0D%0A%09%09items%5Bi%5D.img.dataset.originaly%20%3D%20items%5Bi%5D.img.style.top%3B%0D%0A%0D%0A%09%09items%5Bi%5D.img.style.display%20%3D%20%22block%22%3B%0D%0A%0D%0A%09%09if%20%28items%5Bi%5D.leftSide%29%20%7B%0D%0A%09%09%09left_stack.push%28items%5Bi%5D%29%3B%0D%0A%09%09%7D%20else%20%7B%0D%0A%09%09%09right_stack.push%28items%5Bi%5D%29%3B%0D%0A%09%09%7D%0D%0A%09%7D%0D%0A%0D%0A%09function%20slideDownSingle%28img%29%20%7B%0D%0A%09%09%24%28img%29.velocity%28%7B%20top%3A%20pxToInt%28img.style.top%29%20%2B%2020%2C%20opacity%3A%200%20%7D%2C%201000%2C%20%27linear%27%2C%20function%28%29%7B%0D%0A%09%09%09img.style.left%20%3D%20img.dataset.originalx%3B%0D%0A%09%09%09img.style.top%20%3D%20img.dataset.originaly%3B%0D%0A%09%09%09img.style.opacity%20%3D%201%3B%0D%0A%09%09%7D%29%3B%0D%0A%09%7D%0D%0A%0D%0A%09%2F%2Fstart%20sliding%20things%20in%0D%0A%09function%20slideCycle%28time%2C%20leftSide%29%20%7B%0D%0A%09%09var%20stack%20%3D%20%5B%5D%3B%0D%0A%09%09if%20%28leftSide%29%20%7B%0D%0A%09%09%09stack%20%3D%20left_stack%3B%0D%0A%09%09%7D%20else%20%7B%0D%0A%09%09%09stack%20%3D%20right_stack%3B%0D%0A%09%09%7D%0D%0A%0D%0A%09%09for%20%28var%20i%20%3D%200%3B%20i%20%3C%20stack.length%3B%20i%2B%2B%29%20%7B%0D%0A%09%09%09slideDownSingle%28stack%5Bi%5D.img%2C%200%2C%2020%29%3B%0D%0A%09%09%7D%0D%0A%0D%0A%09%09function%20createSlideIn%28i%2C%20time%2C%20img%2C%20xOffset%2C%20td%29%20%7B%0D%0A%09%09%09setTimeout%28function%20%28%29%20%7B%0D%0A%09%09%09%09%24%28img%29.velocity%28%7B%20left%3A%20xOffset%20%7D%2C%201000%2C%20%27linear%27%2C%20function%28%29%20%7B%0D%0A%09%09%09%09%09setTimeout%28function%28%29%7Bunhighlight%28td%29%3B%7D%2C%202000%29%3B%0D%0A%09%09%09%09%7D%29%3B%0D%0A%09%09%09%7D%2C%20time%29%3B%0D%0A%09%09%7D%0D%0A%0D%0A%09%09setTimeout%28function%20%28%29%20%7B%0D%0A%09%09%09var%20cutoff%20%3D%20%28stack.length%20-%203%29%3B%0D%0A%09%09%09console.log%28cutoff%29%3B%0D%0A%09%09%09for%20%28var%20i%20%3D%200%3B%20i%20%3C%20stack.length%3B%20i%2B%2B%29%20%7B%0D%0A%09%09%09%09createSlideIn%28i%2C%20i%2Atime%2C%20stack%5Bi%5D.img%2C%20stack%5Bi%5D.xOffset%2C%20stack%5Bi%5D.td%29%3B%0D%0A%09%09%09%09setTimeout%28highlight%2C%20i%20%2A%20time%20%2B%20500%2C%20stack%5Bi%5D.td%2C%20stack%5Bi%5D.fontColor%29%3B%0D%0A%0D%0A%09%09%09%09if%20%28stack.length%20%3E%203%20%26%26%20i%20%3C%20cutoff%29%20%7B%0D%0A%09%09%09%09%09console.log%28i%29%3B%0D%0A%09%09%09%09%09setTimeout%28slideDownSingle%2C%20i%20%2A%20time%20%2B%20%28time%20%2A%203%29%2C%20stack%5Bi%5D.img%2C%200%2C%2020%29%3B%0D%0A%09%09%09%09%7D%0D%0A%09%09%09%7D%0D%0A%09%09%09setTimeout%28slideCycle%2C%20time%20%2A%20%28stack.length%20%2B%201%29%2C%20time%2C%20%21%28leftSide%29%29%3B%0D%0A%09%09%7D%2C%201000%29%3B%0D%0A%09%7D%0D%0A%0D%0A%09slideCycle%285000%2C%20left_stack%29%3B%0D%0A%7D%3B%0D%0A%3C%2Fscript%3E%0A%3C%2Fbody%3E%3C%2Fhtml%3E';
        PLcontent[1] = '%3C%21doctype%20html%3E%3Chtml%3E%3Chead%3E%3Cmeta%20charset%3D%22utf-8%22%3E%20%3Cstyle%3Ebody%20%7Bbackground-color%3A%23000000%3Bborder%3Anone%3Bcolor%3A%23ffffff%3Boverflow%3Ahidden%3Bmargin%3A0px%3B%7D%3C%2Fstyle%3E%3C%2Fhead%3E%3Cbody%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0D%0Abody%20%7B%20background-color%3A%23fff%3B%20border%3Anone%3B%20color%3A%23000%3B%20margin%3A0px%3B%20%0D%0A%09background-image%3Aurl%28EBB_LTO_Lox-vid-bg.png%29%2C%20url%28http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2FEBB_LTO_Lox-vid-bg.png%29%3B%20background-repeat%3Ano-repeat%3B%20padding%3A0px%3B%20height%3A100%25%3B%0D%0A%7D%0D%0A%3C%2Fstyle%3E%0D%0A%3Cvideo%20style%3D%22position%3Aabsolute%3B%20top%3A0%3B%20left%3A0%3B%20width%3A100%25%3B%20height%3A100%25%3B%22%20autoplay%20loop%3E%0D%0A%3Csource%20src%3D%22EBB_LTO_Lox.ogv%22%3E%0D%0A%3Csource%20src%3D%22http%3A%2F%2Fvi-digital.com%2Flib%2Fpjjdent%2Fuploads%2FEBB_LTO_Lox.ogv%22%3E%0D%0A%3C%2Fvideo%3E%3C%2Fbody%3E%3C%2Fhtml%3E';


        function rawurldecode(str) {
            return decodeURIComponent((str + '')
                    .replace(/%(?![\da-f]{2})/gi, function() {
                        // PHP tolerates poorly formed escape sequences
                        return '%25';
                    }));
        }

        function nextPlaylistSlide(){
            var content = rawurldecode(PLcontent[plnum]);//unescape(PLcontent[plnum]);
            var iframe = document.createElement('iframe');
            document.body.appendChild(iframe);
            FadeIn();
            setTimeout(function() {
                iframe.scrolling = 'no';
                iframe.style.width = '1280px';
                iframe.style.height = '768px';
                iframe.style.border = '0px';
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(content);
                iframe.contentWindow.document.close();
            }, speed);
            setTimeout(function() { FadeOut() }, speed*12);
            setTimeout(function() { plnum++;
                if (plnum == slides) plnum=0;
                document.body.removeChild(iframe);
                nextPlaylistSlide();
            }, PLtime[plnum]);
        }

        nextPlaylistSlide();
    </script><!-- end fix --></div>
