/*body{box-sizing: border-box;}*/
.bordered {border:2px solid #000; border-radius: 1px; }
h1 {
    font-size: 18px;
    line-height: 20px;
    margin: 6px 0 0 0;
    padding: 0;
}
h2 {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}
.vert-separate{
    padding-top:    5px;
    padding-bottom: 5px;
    margin-top:     6px;
    margin-bottom:  6px;
}
.form-control {
    padding-left: 2px !important;
    padding-right: 2px !important;
    border:1px solid #ddd;
}
.textarea {
    /*width:90%;*/
    min-height:60px;
    max-height:250px;
    resize: none;
    overflow: hidden;
}
.checkbox-inline input[type="checkbox"] {
    height: 20px;
    width:  20px;
    -moz-appearance: inherit;
}

td {
     word-wrap: break-word;
     word-break:break-all;
     /*width: 20px;*/
 }
table{

}
#mainTable tr td:nth-child(-n+0) {
    width:20%;
}

/*sitting ducks*/
/*.no-border td {border: 0;}*/
/*.chkbox {border: 1px solid #000;}*/
/*.box {border: 1px solid #000;width: 110px;height: 15px;}*/
/*.text-box {width: 90% !important;margin: 0 !important;}*/
/*.pull-right .text-box {width: 60% !important;}*/
/*.comments {border: 1px solid #ddd;}*/




/*editable-table styles*/
td:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    outline: rgb(91, 157, 217) auto 5px;
}
input.error {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    outline: thin auto red;
}
table input {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    outline: rgb(91, 157, 217) auto 5px;
    outline-offset: 0px;
    border: none;
}
#mainTable thead th, #mainTable tbody td {
    width: 25%;
}
#mainTable td + td, #mainTable th + th {
    text-align: right;
}
table.scrollable thead tr, table.scrollable tfoot tr  {
    position: relative;
    display: block
}

html>body table.scrollable tbody {
    display: block;
    height: 330px;
    overflow: auto;
    width: 100%
}

html>body table.scrollable td, html>body table.scrollable th {
    width: 200px
}
